<!-- ******** add head -->
{{> head}}

<!-- ******** add header -->
{{> header}}

<p>Hello {{ main.author }}</p>



<ul>
    {{#each component}}
        <li class="{{this}}"></li>
    {{/each}}
</ul>


<!-- ******** add footer -->
{{> footer}}